<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ratione totam beatae asperiores maxime odio hic. Nihil, aliquid. Quia facere, enim eum dolorem quod fugiat earum in. Odit repudiandae sunt blanditiis. Corrupti, nostrum voluptates.</p>
    </div>
</div>