<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app js</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quod porro culpa ea, iste laboriosam quaerat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores harum magni quod dolore numquam ad non molestiae, repellendus molestias id veritatis accusamus dolorum, pariatur optio? Voluptate esse cumque maxime doloremque</p>
    <a href="#" class="btn btn-primary btn-lg">enlace</a>
</div>